body {
    background: #e2e2e2;
    font-size: 100%;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
    padding-bottom: 0;
    padding-top: 0;
}

.bg-dark.scrolled {
    background: #000 !important;
}

.index-logo {
    z-index: 1;
    padding: 0;
}

.navbtn {
    background-color: transparent;
    border: none;
    color: white;
}

.nav-gradient {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 0, 0));
}

.dropdown-menu {
    position: absolute;
    top: 59px !important;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0.125rem -40px 0 !important;
    font-size: 1rem;
    color: #ffffff !important;
    text-align: center !important;
    list-style: none;
    background: #343a40!important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 !important;
}

.dropdown-menu-last {
    position: absolute;
    top: 59px !important;
    left: 30% !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0.125rem -40px 0 !important;
    font-size: 1rem;
    color: #ffffff !important;
    text-align: center !important;
    list-style: none;
    background: #343a40!important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.v2slide {
    grid-area: slide
}

.v2block-call-to-action {
    background-color: #fff;
    padding-left: 50px;
    color: #fff;
    align-items: flex-start;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
}

.v2block-call-to-action2 {
    background-color: #fff;
    padding-left: 10%;
    color: #fff;
    align-items: flex-start;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: c;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.v2black-gradient {
    width: 100%;
    height: 600px;
    z-index: 1;
    position: absolute
}

.v2title {
    font-size: 5vw;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: left;
    z-index: 2
}

.v2below-title,
.call-to-action {
    font-weight: 300;
    text-align: left
}

.v2below-title {
    font-size: 6vw;
    line-height: .8;
    z-index: 2
}

.title2 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: left;
    z-index: 2
}

.v2below-title2,
.call-to-action {
    font-weight: 300;
    text-align: left
}

.v2below-title2 {
    font-size: 1.8rem;
    line-height: .8;
    z-index: 2
}

.btn {
    cursor: pointer;
    touch-action: manipulation;
    z-index: 2
}

.call-to-action {
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 12px 67px;
    text-decoration: none
}

@media only screen and (max-width:425px) {
    .title {
        font-size: 2.5rem
    }
    .v2below-title {
        font-size: 1.2rem
    }
}

.v2blogs {
    padding-top: 5%;
    padding-bottom: 5%;
}

.v2section1content h3 {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.v2section1content h6 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
}

.v2section1content p {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 170px;
}

.v2section1sub2 {
    padding-top: 3%;
    border-top: 1px solid rgb(14 6 6 / 12%);
    border-bottom: 1px solid rgb(14 6 6 / 12%);
}

.v2section1sub2 {
    padding-top: 3%;
}

.v2section1sub1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.v2vertical-line {
    display: inline-block;
    border-left: 1px solid #c7894770;
    height: 125px;
}

.v2section2 {
    background-color: #000;
    padding: 0;
    margin: 0;
}

.v2section2height {
    padding-top: 5%;
}


/* data silder */

.v2section4 {
    padding-bottom: 1%;
}

.v2section4-2 {
    padding-bottom: 1%;
}

.v2featured-p {
    padding-top: 8%;
    padding-bottom: 5%;
}

.v2featured-p2 {
    padding-bottom: 5%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide {
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

.product {
    position: relative;
    top: 50%;
    height: 450px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #0e0e0f;
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.specifies {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -160px;
    background: #fff;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    transition: .5s;
    background-color: #e2e2e2;
}

.product:hover .specifies {
    bottom: 0
}

.specifies h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%
}

.specifies h2 span {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-top: 20px;
}

.section5subheading1 {
    padding-top: 5%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.section5subheading {
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px
}

.btncard1 {
    display: block;
    color: #fff;
    width: 100%;
    font-size: 13px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.btncard2 {
    display: block;
    color: #fff;
    width: 100%;
    font-size: 13px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.horizo-line {
    border-left: 1px solid #ccc;
    height: 125px;
}

.horizo-line-footer {
    border-left: 1px solid #ccc;
    height: 10px;
}

.v2vertical-line-card {
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 50px;
}

.button-card-section5 {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.button-card-section5-1 {
    position: absolute;
    bottom: 0;
    /* padding-bottom: 5px; */
}

.button-card-section5sub {
    background: #e2e2e2;
    margin: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.section6content {
    background-color: #f4f4f4;
}

.section6heading {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section6content h3 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section6content h6 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem !important;
}

.section6content p {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1vw;
}

.section6sub1 {
    padding-top: 2%;
    padding-bottom: 5%;
}

.section6sub1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.v2vertical-line-section6 {
    display: inline-block;
    border-left: 3px solid rgb(0, 0, 0);
    height: 50px;
}


/* ticker */

* {
    box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: relative;
    bottom: 0;
    overflow: hidden;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color: white;
}

.v2vertical-line-section7 {
    display: inline-block;
    border-left: 3px solid rgb(255, 255, 255);
    height: 10px;
}

.section7content {
    padding-bottom: 20px;
}

.section7heading {
    padding-top: 5%;
    padding-bottom: 5%;
}


/* Container holding the image and the text */

.centered {
    width: 90%;
    padding-left: 20%;
    padding-top: 20%;
}

@media only screen and (max-width: 900px) {
    .centered {
        padding-top: 5%;
        width: 100%;
        padding-left: 5%;
    }
}

.card-img-overlay {
    position: absolute;
    top: 20% !important;
    right: 0;
    bottom: auto;
    left: 10% !important;
    padding: 1.25rem;
    border-radius: calc(.25rem - 1px);
}

.blog {
    position: relative;
    width: 100%;
    padding: 0;
}

.imageblog {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    text-align: center;
}

.blog .overlay {
    opacity: 1;
}

.photo-card {
    background-color: #2d3638;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 700px) {
    .photo-card {
        flex-direction: row;
    }
}

.photo-background {
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

@media screen and (min-width: 700px) {
    .photo-background {
        min-height: none;
        width: 50%;
    }
}

.photo-details {
    padding: 2.1875em 5%;
    background-color: rgba(0, 0, 0, 0.829);
}

@media screen and (min-width: 700px) {
    .photo-details {
        width: 50%;
    }
}

.photo-details h1,
.photo-details h4 {
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.photo-details h1 {
    font-size: 125%;
    line-height: 1;
    margin-bottom: 0.35em;
}

.photo-tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 87.5%;
    margin-top: 0.35em;
    text-transform: lowercase;
}

.photo-tags li {
    margin: 0 0.35em 0.35em 0;
}

.photo-tags a {
    background-color: #191e20;
    border-radius: 50px;
    color: #fff;
    display: block;
    padding: 0.3125em 1.25em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.photo-tags a:hover,
.photo-tags a:focus {
    color: #e37544;
}

.photo-details p {
    color: white;
}

.photo-card-2 {
    background-color: #2d3638;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.photo-background-2 {
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 250px;
}

@media screen and (min-width: 700px) {
    .photo-background-2 {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        min-height: none;
    }
}

.photo-details-2 {
    padding: 0.3125em 1.25em;
    background-color: rgba(0, 0, 0, 0.801);
}

@media screen and (min-width: 700px) {
    .photo-details-2 {
        /* width: 50%; */
    }
}

.photo-details-2 h1,
.photo-details-2 h4 {
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.photo-details-2 h1 {
    font-size: 125%;
    line-height: 1;
    margin-bottom: 0.35em;
}

.photo-tags-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 87.5%;
    margin-top: 0.35em;
    text-transform: lowercase;
    color: white;
}

.photo-tags-2 li {
    margin: 0 0.35em 0.35em 0;
}

.photo-tags-2 li {
    color: #fff;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease;
}

.photo-tags-2 a:hover,
.photo-tags-2 a:focus {
    color: #e37544;
}

.photo-details-2 p {
    color: white;
}


/* testimonial */

.testi {
    padding-top: 5%;
    padding-bottom: 5%;
}

#carousel-t {
    background-color: #fff;
}

#carousel-t .testimonial-content {
    margin-top: 15px;
}

#carousel-t .carousel-control-next,
.carousel-control-prev {
    width: 13%;
}

#carousel-t .carousel-control-prev {
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
}

#carousel-t .carousel-control-next {
    background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
}

#carousel-t .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #140000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .2;
    transition: opacity .6s ease;
    border-radius: 50%;
}

#carousel-t .carousel-indicators .active {
    opacity: .5;
}

#carousel-t .carousel-indicators {
    position: relative;
    padding-bottom: 10px;
}

#carousel-t .signature {
    font-size: 24px;
    font-style: normal;
    font-family: birds-of;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

#carousel-t .date {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

#carousel-t p {
    font-size: 18px;
    font-family: 'Roboto Condensed', Arial, Sans;
}

#carousel-t .rating {
    background-color: #2d80ff;
    width: 56px;
    display: block;
    margin: 15px auto;
    color: white;
    border-radius: 25px;
}

#carousel-t .icon.ion-android-arrow-dropright-circle {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.15);
    transition: color .3s;
    height: 100%;
    width: 100%;
}

#carousel-t .icon.ion-android-arrow-dropright-circle:hover {
    color: rgba(0, 0, 0, 0.35);
    transition: color .3s;
}

#carousel-t .icon.ion-android-arrow-dropleft-circle {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
}

#carousel-t .icon.ion-android-arrow-dropleft-circle:hover {
    color: rgba(0, 0, 0, 0.35);
    transition: color .3s;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #a1671f;
    border-radius: 1rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #b37a4b;
    background-color: #fff;
    border-color: #d28e22 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 179, 109, 0.374) !important;
}

.social {
    font-size: 2rem;
}