body {
    background: #e2e2e2;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
    padding-bottom: 0;
    padding-top: 0;
}

.bg-dark.scrolled {
    background: #000 !important;
}

.index-logo {
    z-index: 1;
    height: 80px;
    width: 100%;
    padding: 0;
}

.navbtn {
    background-color: transparent;
    border: none;
    color: white;
}

.nav-gradient {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 0, 0));
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: inherit !important;
}

.carousel-button {
    color: white;
    border-radius: 500px !important;
    border: 0 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.section1content h3 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section1content h6 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section1content p {
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section1sub1 {
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid rgb(14 6 6 / 12%);
    border-bottom: 1px solid rgb(14 6 6 / 12%);
}

.section1sub1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 125px;
}

.section2 {
    background-color: #000;
    padding: 0;
    margin: 0;
}


/* data silder */

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    /* width: var(--marquee-width); */
    /* height: var(--marquee-height); */
    background-color: #111;
    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}


/* .marquee-content:hover {
    animation-play-state: paused;
  } */

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 20px;
    font-size: calc(var(--marquee-height)*1/6);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
     :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}


/* data silder end */


/* feature section4 */

.section4 {
    padding-bottom: 50px;
}


/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
    background: #AB47BC
} */

.product {
    position: relative;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%);*/
    /* width: 300px; */
    height: 500px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #0e0e0f;
    /* overflow: hidden */
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.specifies {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -160px;
    background: #fff;
    padding: 35px;
    box-sizing: border-box;
    transition: .5s;
    background-color: #e2e2e2;
}

.product:hover .specifies {
    bottom: 0
}

.specifies h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%
}

.specifies h2 span {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.section5subheading {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.specifies .price {
    position: absolute;
    top: 12px;
    right: 25px;
    font-weight: bold;
    color: #000;
    font-size: 30px
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px
}

ul {
    display: flex;
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 15px;
    font-style: normal;
    color: rgb(0, 0, 0)
}

ul li:first-child {
    margin-left: 0
}

ul.colors li {
    width: 15px;
    height: 15px
}

ul.colors li:nth-child(1) {
    background: #4A148C
}

ul.colors li:nth-child(2) {
    background: #F50057
}

ul.colors li:nth-child(3) {
    background: #536DFE
}

ul.colors li:nth-child(4) {
    background: #388E3C
}

ul.colors li:nth-child(5) {
    background: #FF6D00
}

.btncard1 {
    display: block;
    /* padding: 5px; */
    color: #fff;
    /* margin: 10px 0 0; */
    width: 100%;
    font-size: 13px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.btncard2 {
    display: block;
    /* padding: 5px; */
    color: #fff;
    /* margin: 10px 0 0; */
    width: 100%;
    font-size: 13px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: #000 !important;
    border-color: #000 !important;
    b
}

.horizo-line {
    /* display: inline-block; */
    border-left: 1px solid #ccc;
    height: 125px;
}

.vertical-line-card {
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 50px;
}

.button-card-section5 {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    padding-bottom: 5px;
    z-index: 1;
}

.button-card-section5sub {
    /* background: black; */
    margin: auto;
    width: 80%;
    border-radius: 100px;
}

.section6content {
    background-color: #f4f4f4;
}

.section6heading {
    padding-top: 100px;
}

.section6content h3 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section6content h6 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem !important;
}

.section6content p {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

.section6sub1 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.section6sub1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-line-section6 {
    display: inline-block;
    border-left: 3px solid rgb(0, 0, 0);
    height: 50px;
}